    #navbar{
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 20px;
        color: rgb(0, 0, 0);
        position: sticky;
        width: 100%;
        padding: 0 8;
        margin-left: -8;
        margin-right: 0;
        top: 0;
        background: rgba(149,192,252,0.8);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        backdrop-filter: blur(5px);
    }
    .info{
        display: none;
        position: absolute;
        background-color: #7eb0f5;
        color: rgb(0, 0, 0);
        top: 65px;
        padding: 15px;
    }
    #navbar:hover{
        .info{
            display: block;
        }
    }

        
    footer p:hover{
        .info{
            display: block;
        }
    }

    body{
    
    background-image: linear-gradient(#95c0fc,#e6effc);
    flex-direction: column;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;

}
    
    .flex{
        display: flex;
        position: static;
    }

    main{   

        justify-content: center;
        align-items: center;
        margin-top: 25px;
        max-width: 900px;
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        
        
    }

    main h3{
        font-size: 90;
        align-self: center;
        margin-bottom: 1px;
        margin-top: 30;
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 2px;
    }
    
    .secao{
        background-color: #e6effc;
        padding: 25px;
        margin: 20px;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        border-radius: 15px;
        width: 600px;      
        max-width: 90%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
        
    }



    .secao:hover{
    background-color: #e6effc;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transform: translateY(-3px);
    background-image: src;
        
    }
    #img_botao{
        width: 30px;
    }

    details div {
  overflow: auto;
  transition: max-height 0.4s ease;
  transition: 0.4s;
}

#creditos{
    position: absolute;
    left: 40%;

    
}

   /* ===============================
   =========elementos doido==========
   =================================*/

#bloco div{
    display: block;
    gap: 20px;
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

#inline div{
    margin-top: 30px;
    display: inline;
    gap: 10px;
    background-color: lightblue;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}
#inline-block div{
    display: inline-block;
    background: lightblue;
    padding: 20px;
    margin: 5px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}
#inline-flex div{
    display: inline-flex;
    background: lightblue;
    padding: 20px;
    margin: 5px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;

}
#inline-flow-root div{
    display: inline flow-root;
    background: lightblue;
    padding: 20px;
    margin: 5px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

.block_flex{
    display: block flex;
    background-color: lightblue;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    border: black solid 1px;
    margin-top: 10;
}



#flex_legal{
    display: flex;
    gap: 20px;
    div{
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-top: 20px;
    }
}

#flow-root div{
    display: flow-root;
    background: lightblue;
    padding: 20px;
    margin: 5px;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
}

#block_flow-root{
    display: flow-root;
    background: lightblue;
    padding: 20px;
    margin: 5px;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
}

#inline_flow div{
    margin-top: 30px;
    display: inline;
    gap: 10px;
    background-color: lightblue;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

#inline_flow div{
    margin-top: 30px;
    display: inline;
    gap: 10px;
    background-color: lightblue;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

#rodape{

    margin: 10 0;
    width: 100%;
    padding: 40 8;
    margin-left: -8;
    margin-right: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    background: rgba(149,192,252,0.8);
}
.flexrodape{
    display: flex;
    justify-content: center;
}
.yope{
    margin: 20;
    background-color: yellow;
    border-radius: 10px;
    ul{
        margin: 0;
        list-style:none;
    }
}


/* ===============================
   =========elementos FIXos==========
   =================================*/

.tabela{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10;
}
.tabela th{
    border: 1px solid black;
    background-color: #91b9f1;
    padding: 5;
}
.tabela td{
    border: 1px solid black;
    background-color: #cef3d7;
    padding: 5;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
    
}

.grid h4{
    background: lightblue;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: black solid 1px;
}
.linha_grid{
    display: inline-grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
}
.linha_grid h4{
    background: lightblue;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}

.position_fixed{
    position: fixed;
    color: black;
    bottom: 1px;
    right: 20px;
    font-size: smaller;
}

.position_fixed_dois{
    position: sticky; 
    color: black;
    bottom: 20px; 
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: smaller;
}

#inline__flex{
    display: inline flex;
    background-color: lightblue;
    padding: 15px;
    gap: 15px;
     border-radius: 15px;
    border: black solid 1px;
}
    
.summary{
    padding: 15px;  
    cursor: pointer;
    border-radius: 5px;
}
.block{
    display: block;
}

.float{
    float: right;
    background-color: rgb(138, 203, 224);
    border: 1px solid black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 10px;
}

a{
    color: black;

}
summary{
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}